body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* overflow: hidden;设置整个页面不可滚动 */
}

canvas {
    border: 1px solid #000;
    touch-action: none;/*禁用默认触摸行为，以便正常绘画 */
}

button {
    margin-top: 3px;
}

